*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "DM Sans",serif;
}
header, .hero-section{
  background: #F6F8FB;
}
.container{
  width: 1290px;
  padding: 24px;
  margin: 0 auto;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo p{
  color: #02073E;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
 nav ul{
  display: flex;
  gap: 14px;
}
nav ul li{
  list-style: none;
  cursor: pointer;
  color: #02073E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 33px; /* 206.25% */
}
nav ul li i{
  margin-top: -5px;
  margin-left: 5px;
}
header button{
  color: #8D448B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  border-radius: 5px;
  border: 2px solid #8D448B;
  background: #F9FBFD;
  width: 150px;
  height: 50px;
  flex-shrink: 0;
}

/* hero section  */
.hero-section .container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content{
  width: 50%;
}
.hero-title{
  color: #02073E;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  letter-spacing: -1.5px;
}
.hero-paragraph{
  width: 80%;
  color: #02073E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 233.333% */
}
.hero-section form{
  display: flex;
  gap: 14px;
}
.hero-section form input{
  width: 370px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(48, 98, 144, 0.08);
  border: none;
  padding: 13px 189px 12px 24px;
  transition: all 300ms ease;
  color: #8D448B;
}
.hero-section form input:active,
.hero-section form input:focus{
  outline-color: #8D448B;
}
.hero-section form input::placeholder{
  color: #02073E;
  font-family: "DM Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
.hero-section form button{
  width: 180px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #8D448B;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
}
.partners{
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 70px;
}
.partners p{
  color: #566272;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 262.5% */
}
.partners img{
  width: 85px;
  height: 28px;
  flex-shrink: 0;
  filter: grayscale(100%);
  transition: all 200ms ease;
}
.partners img:hover{
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.1);
}
.hero-img{
  width: 50%;
  height: 765px;
  flex-shrink: 0;
  background-image: url('lib/image/hero-img.svg');
  mix-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center;
}
/* apps section */
.app-subtitle{
  color: #8D448B;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 222.222% */
  text-transform: capitalize;
}
.app-section h2{
  color: #0F2137;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 183.333% */
  letter-spacing: -1.5px;
}
.app-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5rem;
  gap: 60px;
}
.first-app{
  background: linear-gradient(324deg, #FFCC40 7.09%, rgba(255, 204, 64, 0.50) 88.82%);
}
.third{
  margin-left: 30%;
}
.app-content div{
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  flex-shrink: 0;
  margin: 0 auto;
}

.article-title{
  color: #0F2137;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  margin-top: 16px;
}
.article-p{
  color: #343D48;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}
.second-app{
  background: linear-gradient(319deg, #0898E7 5.17%, rgba(8, 152, 231, 0.50) 94.34%);
}
.last-app{
  background: linear-gradient(323deg, #FF9066 9.94%, rgba(255, 144, 102, 0.50) 91.14%);
}
/* Agence section */
.agence-section{
  height: 100vh;
}
.agence-section .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.agence-img{
  width: 50%;
  height: 707px;
  background-image: url("lib/image/agence.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.agence-content{
  width: 50%;
}
.agence-content h2 {
  width: 80%;
  color: #0F2137;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  letter-spacing: -1.5px;
}
.agence-content p{
  color: #02073E;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 200% */
  opacity: 0.6;
}
.agence-content span{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  color: #02073E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 250% */
}
.agence-content a{
  color: #8D448B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 262.5% */
  text-decoration: none;
  margin-left: 5%;
}

/* company */
.company-section{
  position: relative;
}
.company-section h2{
  width: 55%;
  color: #0F2137;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  letter-spacing: -1.5px;
  margin: 0 auto;
}
.company-section p{
  width: 50%;
  margin: 24px  auto 0 auto;
  color: #343D48;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 200% */
}
.company-section a{
  text-decoration: none;
  margin-left: 45%;
  color: #8D448B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 262.5% */
}
.company-section img{
  width: 100%;
  height: 625px;
  flex-shrink: 0;
  margin: 50px auto auto auto;
  border-radius: 7px;
  background: #020A18;
}
.company-section .play-btn{
  position: absolute;
  left: 45%;
  top: 58%;
  cursor: pointer;
}
/* customer */
.customer-section{
  padding-top: 20px;
}
.customer-section .subtitle{
  color: #8D448B;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 222.222% */
  text-transform: capitalize;
}
.customer-section h2{
  color: #0F2137;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 183.333% */
  letter-spacing: -1.5px;
}
.customer-section h4{

  color: #0F2137;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 180.556% */
  width: 70%;
  margin: 20px auto;
}
.customer-section .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin-top: 5rem;
}
.customer-section article{
  padding: 24px 20px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 300ms ease;
  border-radius: 2px;
  border-top: 3px solid transparent;
  cursor: pointer;
}
.customer-section article:hover{
  border-top-color: #8D448B;
  transform: scale(1.01);
}

/* support section */

.support-section .container{
  display: flex;
  margin-top: 10%;
}
.support-section .support-content{
  width: 50%;
  display: flex;
  align-items: end;
}
.support-content h2{
  width: 90%;
  color: #0F2137;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  letter-spacing: -1.5px;
}
.support-content p{
  width: 80%;
  color: #343D48;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 205.882% */
}
.support-content a{
  color: #8D448B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 262.5% */
  text-decoration: none;
}
.support-content img{
  width: 625px;
  height: 719px;
  flex-shrink: 0;
}
/* quality section */
.quality-section{
  height: 100vh;
  background: #F8FAFC;
  padding-top: 30px;
}
.quality-subtitle{
  color: #8D448B;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 222.222% */
  text-transform: capitalize;
}
.quality-title{
  color: #0F2137;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 183.333% */
  letter-spacing: -1.5px;
}
.quality-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12px;
  margin-top: 60px;
}
.quality-cards article{
  width: 410px;
  background: white;
  transition: all 300ms ease;
  cursor: pointer;
  border-radius: 12px;
}
.quality-cards article div{
  width: 100%;
  padding: 20px 10px;
  margin: 0;
}
.quality-cards article img{
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.quality-cards article div h3{
  color: #0F2137;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
.quality-cards article div span{
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #343D48;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin-top: 15px;
}
.quality-cards>article:hover{
  transform: scale(1.01);
}
.last-article{
  background: #8D448B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-top: 13%;
  padding: 24px;
  padding-left: 50px;
}
.last-article h2{
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 152.778% */
  letter-spacing: -1.5px;
  max-width: 45%;
}
.button svg{
  margin-left: 38%;
}
.button button{
  width: 260px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  display: block;
  color: #8D448B;
  text-transform: uppercase;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.7px;
  border: none;
  transition: all 300ms ease;
}
button:hover{
  transform: scale(1.01);
  cursor: pointer;
}
/* footer */
footer{
  margin-top: 8%;
}
footer .container{
  display: flex;
  justify-content: space-between;
}
.content-footer{
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-footer p{
  color: #02073E;
  font-family: "SF Pro Display", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.content-footer span{
  color: #0F2137;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}
